/* .page-bg {
  background-attachment: fixed;
  background-position: center;
  background-image: url('petplacebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} 

.card-layout {
  border: solid 3px;
  max-width: auto;
  border-radius: 10px;
  background-color:#C4EBFF;
}

.btn {
  display: left-inline-block;
  width: 150px;
  border: solid 3px;
  border-radius: 10px;
  background-color: #C4EBFF;
  padding: 10px 20px;
  margin: 2;
  
  text-decoration: none;
  font-family: inherit;
} */
/* Using Luan's setup */
/* body { 
  background-image: url('./components/dog.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
} */

.border-text
{
  font-family: georgia;
  font-size: 35pt;
  font-style: italic; 
  border-top: 4px solid;
  border-bottom: 4px solid;
  margin-right: 50px;

}