.navbar
{
    width: 100%;
    margin-top: 5px;
    font-family: georgia;
    display: flex;
}

.btn-navbar
{
    border: 5px solid black;
    margin: 3px;
    border-radius: 10px;
    width: 221px;
    height: 60px;
    text-align: center;
    background-color: #C4EBFF;
    color: black;
    font-size: 14pt;
    
}

.btn-page
{
    margin-right: 50px;
}

.container
{
    width: 90%;
    display: flex;
}

.title
{
    font-family: georgia;
    font-style: italic;
    border-top: 5px solid black;
    font-size: 35pt;
    border-bottom: 5px solid black;
    margin-left: 20px;
}

.info
{
    display: flex;
    align-items: center;   
    margin-left: 470px;
    
}

.info-title
{
    display: flex;   
    margin-left: 150px;
    margin-top: 50px;
    width: 1370px;
}

.profile-header
{
    display: flex;
}

.btn-profile
{
    border: 5px solid black;
    margin: 3px;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    text-align: center;
    background-color: #C4EBFF;
    color: black;
    font-size: 14pt;
    margin-right: 25px;
    margin-left: 50px;
    
}